/* :where(.css-dev-only-do-not-override-1kf000u).ant-tabs-left >.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab, :where(.css-dev-only-do-not-override-1kf000u).ant-tabs-right >.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab, :where(.css-dev-only-do-not-override-1kf000u).ant-tabs-left >div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab, :where(.css-dev-only-do-not-override-1kf000u).ant-tabs-right >div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin: 0px 0px 0px -25px;
} */

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  /* background-color: rgb(248, 252, 248); */
  vertical-align: top;
  padding-bottom: auto;
}

/* :where(.css-dev-only-do-not-override-1kf000u).ant-card .ant-card-body {
    padding: 7px;
    border-radius: 0 0 8px 8px;
} */

.ant-empty-normal {
  display: flex !important;
  min-height: 55vh !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}
/* .ellipsis {
  display: inline-block !important;
  max-width: 50% !important;
  /* white-space: nowrap !important; */
/* overflow: hidden !important;
  text-overflow: ellipsis !important; 
} */

.center {
  text-align: center;
}

/* For the header and data cell dividers */
.ant-table th, 
.ant-table td {
  border-right: 2px solid #4CAF50; /* Replace #4CAF50 with your desired color */
}

/* Remove the border for the last column (optional) */
.ant-table-cell:last-child {
  border-right: none;
}

/* For the table itself to ensure the overall look matches */
.ant-table {
  border-color: #4CAF50; /* Table outer border color */
}

/* Custom Table Styling */
.custom-table .ant-table-cell {
  border-color: #ff5722; /* Set the desired color */
}

.custom-table .ant-table-header {
  border-color: #ff5722;
}

.custom-table .ant-table-body td {
  border-color: #ff5722;
}
