<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Jalyukta Shivar 2.0</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>analytics</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>superadmin</role-name>
			<role-name>orgadmin</role-name>
			<role-name>customeradmin</role-name>
			<role-name>jsstate</role-name>
			<role-name>jsdistrict</role-name>
			<role-name>jstaluka</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>jalyuktashivar</realm-name>
	</login-config>
	<security-role>
		<role-name>superadmin</role-name>
	</security-role>
	<security-role>
		<role-name>orgadmin</role-name>
	</security-role>
	<security-role>
		<role-name>customeradmin</role-name>
	</security-role>
	<security-role>
		<role-name>jsstate</role-name>
	</security-role>
	<security-role>
		<role-name>jsdistrict</role-name>
	</security-role>
	<security-role>
		<role-name>jstaluka</role-name>
	</security-role>
</web-app>
